.ChatPage > .tableChat {
  width: 100%;
  border-collapse: collapse;
  display: grid;
  grid-template-columns: 20% 80%;
  /* height: 86vh; */
  height: 86vh;
  border: none;
}

.ChatPage > .tableChat td:nth-child(1) {
  border-right: 1px solid #cccccca6;
  white-space: nowrap; /* Không chuyển hàng tự động */
  overflow: hidden; /* Ẩn nội dung bị tràn */
  text-overflow: ellipsis;
}
.ChatPage > .tableChat td:nth-child(2) {
  overflow: auto;
}
.chat-info {
  padding: 12px 16px;
  line-height: 1.5rem;
}
.chat-info p {
  color: #777777;
}

.column1 > .box-search {
  margin: 16px;
}

.column1 > .box-search > input {
  width: 100%;
  padding: 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s;
}

.column1 > .box-search > input:focus {
  border: 1px solid #777777;
}

.column1 .box-room {
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.column1 .box-room li > a {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 6px 16px;
  transition: 0.3s;
}

.column1 .box-room li > a:hover {
  background-color: #008327;
  color: #fff;
}
.active {
  background-color: #008327;
  color: #fff !important;
}

.column1 .box-room li > a > p {
  white-space: nowrap; /* Không chuyển hàng tự động */

  overflow: hidden;
  text-overflow: ellipsis;
}
.column1 .box-room li > a > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.column2 {
  height: 92%;
  position: relative;
  display: grid;
  grid-template-rows: 90% 10%;
}

.column2 .box-input-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  display: flex;
  align-items: center;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
}

.column2 .box-input-message > input {
  width: 60%;
  padding: 16px;
  margin: 0 24px 0 44px;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.column2 .box-input-message > button {
  background-color: #1fcbef;
  color: #fff;
  font-size: 1.2rem;
  padding: 14px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-messages {
  height: 730px;
  overflow-y: auto;
  padding: 10px;
  scroll-behavior: smooth;
}

.message {
  margin-bottom: 10px;
}

.client-message {
  background-color: transparent;
  color: var(--text-color);
  padding: 6px;
  border-radius: 5px;
  align-self: flex-start;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
}

.client-message > .message-content > p {
  background-color: #e0e0e0;
  color: #000000;
  padding: 8px 16px;
  border-radius: 16px;
  border-bottom-left-radius: 3px;
  z-index: 4;
}
.client-message > .message-content {
  position: relative;
}

.client-message > img,
.admin-message > img {
  width: 60px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.admin-message > .message-content > p {
  background-color: #0084ff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 16px;
  border-bottom-right-radius: 2px;
  z-index: 4;
}
.admin-message > .message-content {
  position: relative;
}

.admin-message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  background-color: transparent;
  color: var(--text-color);
  padding: 6px;
  border-radius: 5px;
  align-self: flex-end;
}
