.product-page {
  margin: 16px;
}

.product-page > h3 {
  margin: 16px 0;
}

.product-page .product-search > input {
  padding: 10px;
  width: 50%;
  outline: none;
  border: 1px solid #ccc;
}

.product-page > .product-table > tbody > tr > td,
.product-page > .product-table > thead > tr > th {
  border: 1px solid #e0e0e0c5;
  width: 100%;
  padding: 8px;
  color: #777777;
}

.product-page > table {
  /* border: 1px solid #ccc; */
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin: 16px 0;
  overflow: scroll;
}
.product-page > .product-table tr {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 30% 10% 10% 10% 20%;
}
.product-page > .product-table tr:nth-child(even) {
  background-color: #f4f8fb;
}
.product-page > .product-table > tbody > tr > th {
  /* background-color: #ccc; */
}

.product-page > .product-table > tbody > tr > td:nth-child(1) {
  white-space: nowrap; /* Không chuyển hàng tự động */
  overflow: hidden; /* Ẩn nội dung bị tràn */
  text-overflow: ellipsis;
}
.product-page > .product-table > tbody > tr > td:nth-child(4) {
  display: flex;
  justify-content: center;
}

.product-page > .product-table > tbody > tr > td:nth-child(4) > img {
  width: 50%;
  object-fit: cover;
}

.product-page > .product-table > tbody > tr > td:nth-child(6) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-page > .product-table > tbody > tr > td:nth-child(6) a {
  text-decoration: none;
  color: white;
  padding: 5px 16px;
  background-color: #22ca80;
  transition: 0.3s;
  border-radius: 2px;
}
.product-page > .product-table > tbody > tr > td:nth-child(6) button {
  padding: 8px 16px;
  border: none;
  color: white;
  border-radius: 2px;
  margin: 4px 4px;
  background-color: #ff4f70;
  transition: 0.3s;
}
.product-page > .product-table > tbody > tr > td:nth-child(6) a:hover {
  background-color: #169b61;
}
.product-page > .product-table > tbody > tr > td:nth-child(6) button:hover {
  background-color: #b62a44;
}
