.NewForm {
  padding: 64px;
  position: relative;
}

.NewForm > h2 {
  color: #001b669c;
  font-weight: 500;
}

.NewForm > form {
  width: 60%;
  height: 70vh;
  margin-top: 32px;
}
.NewForm > form .group-input2 label,
.NewForm > form .group-input > label {
  color: #37466e9c;
  font-weight: 600;
}

.NewForm > form .group-input input[type="file"] {
  padding: 0;
}

.NewForm > form .group-input:nth-child(4) textarea {
  height: 6rem;
}
.NewForm > form .group-input:nth-child(5) textarea {
  height: 8rem;
}
.NewForm > form .group-input2 .input-item input,
.NewForm > form .group-input2 .input-item select,
.NewForm > form .group-input textarea,
.NewForm > form .group-input input {
  margin: 6px 0 16px 0;
  display: block;
  width: 100%;
  padding: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
.NewForm > form > button {
  background-color: #6177e5;
  color: #fff;
  border-radius: 3px;
  border: none;
  font-size: 1.2rem;
  padding: 10px 16px;
  cursor: pointer;
  transition: 0.3s;
}

.NewForm > form > button:hover {
  background-color: #3b56dd;
}
.NewForm > form > button:active {
  background-color: #162fac;
}

.NewForm > form .group-input2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 20px;
  --c: no-repeat radial-gradient(farthest-side, #000 93%, #0000);
  background: var(--c) 0 0, var(--c) 50% 0;
  background-size: 8px 8px;
  position: relative;
  clip-path: inset(-200% -100% 0 0);
  animation: l6-0 1.5s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background: #000;
  left: -16px;
  top: 0;
  animation: l6-1 1.5s linear infinite,
    l6-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0 0 auto auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  animation: l6-3 1.5s linear infinite;
}
@keyframes l6-0 {
  0%,
  30% {
    background-position: 0 0, 50% 0;
  }
  33% {
    background-position: 0 100%, 50% 0;
  }
  41%,
  63% {
    background-position: 0 0, 50% 0;
  }
  66% {
    background-position: 0 0, 50% 100%;
  }
  74%,
  100% {
    background-position: 0 0, 50% 0;
  }
}
@keyframes l6-1 {
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(15px);
    left: calc(100% - 8px);
  }
}
@keyframes l6-2 {
  100% {
    top: -0.1px;
  }
}
@keyframes l6-3 {
  0%,
  80%,
  100% {
    transform: translate(0);
  }
  90% {
    transform: translate(26px);
  }
}
